/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ss]ettings/
/[Tt]mp/
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.booproj
*.suo
*.pdb
*.mdb
*.log
*.coverage
*.coverageCoverage
*.resharper
*.vs
.vs/
.idea/
Assets/AssetStoreTools/
Assets/External/
Assets/Plugins/Editor/
Thumbs.db